// Our Products
 color: black;
 font-size: 64px;
 font-family: Voces;
 font-weight: 400;
 word-wrap: break-word
---
// Contact Us
color: black;
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 28px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Products
color: black;
 font-size: 28px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Description
color: black;
 font-size: 55px;
 font-family: Voces;
 font-weight: 400;
 word-wrap: break-word
---
// Welcome to Technolink plastic, a leading manufacturer of high-quality plastic water taps in the vibrant Indian state of Gujarat.
<br/>
<br/>At Lexa, we take pride in our commitment to delivering top-notch products that cater to the diverse needs of our customers. With years of expertise in the industry, we have established ourselves as a trusted name synonymous with innovation, reliability, and superior craftsmanship.
color: black;
 font-size: 36px;
 font-family: ABeeZee;
 font-weight: 400;
 word-wrap: break-word
---
// More products....
color: white;
 font-size: 40px;
 font-family: Voces;
 font-weight: 400;
 word-wrap: break-word
---
// Contact Us
color: black;
 font-size: 40px;
 font-family: Voces;
 font-weight: 400;
 word-wrap: break-word